{% extends 'app/layout.html' %}

{% load humanize %}

{% load static %}
{% block content %}
<head>
    <style>


        .container {
            min-height: 100vh;
            display: block;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin-left: 20%;
            margin-right: inherit;
        }

        .col-md-6 {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="row justify-content-center container d-flex align-items-center p-2" style="min-height: 80vh;">
        <div class="col-md-6">
            <h1>Create Task </h1>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <form id="myForm" method="POST" action="{% url 'create_task' %}">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <br />
                        <button type="submit" class="btn btn-danger">Assign task </button>
                        
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>



{% endblock %}