{%  extends 'app/layout.html' %}
    {% block content %}



<div class="row justify-content-center container d-flex align-items-center p-2" style="min-height: 80vh;">
    <div class="col-md-6">
        <h1>Add Record</h1>
        <br />


        <div class="col-md-6">
            <form id="Add labour" method="POST" action="{% url 'labourers_view' %}">
                {% csrf_token %}

                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Record</button>
            </form>
        </div>
        <a href="{% url 'generate_excel_report' %}?type=labour&name={{ project.name }}" class="btn btn-primary">Download Labour Report</a>

        <div>
            <table class="table table-striped table-hover table-bordered">
                <thead>

                </thead>
                <tbody>

                    <tr>
                        <th>Total Amount </th>
                        <td>{{ total_amount|floatformat:"2" }} Ksh</td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
    <div>
        <div>


            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 150px;">labour </th>
                        <th style="width: 150px;">Number of Labourers</th>
                        <th style="width: 150px;">labour Cost</th>
                        <th style="width: 150px;">Sub Total</th>
                        <th style="width: 200px;">Date</th>
                        <th style="width: 200px;">Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in page_object1|dictsortreversed:"Date" %}
                    <tr>
                        <td>{{ item.labour_type }}</td>
                        <td>{{ item.NOL }}</td>
                        <td>{{ item.labourer_cost }}</td>
                        <td>{{ item.sub_total }}</td>
                        <td>{{ item.Date }}</td>
                        <td>
                            <a href="{% url 'delete_labourer' item.pk %}">Delete</a>
                            <a href="{% url 'update_labourer' item.pk %}" class="btn btn-secondary">Update Record</a>
                        </td>
                    </tr>



                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination-container">

                Showing page {{ page_object1.number }} of {{ page_object1.paginator.num_pages }}
            </div>
            <li class=" text"> Total records {{total_records}}</li>
            <ul class="pagination align-right float-right mr-auto">
                {% if page_object1.has_previous %}
                <li {% if page_object1.number == 1 %} class="page-item active" {% endif %}>
                    <a class="page-link" href="?page=1">&laquo; 1</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_object1.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% if page_object1.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_object1.next_page_number }}">Next Page </a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_object1.paginator.num_pages }}">{{ page_object1.paginator.num_pages }} &raquo;</a></li>
                {% endif %}

            </ul>

        </div>
    </div>
</div>


{% endblock %}